<div class="container">
    <div class="jumbotron p-3 p-md-5 text-black rounded bg-white">
        <div class="col-md-9 px-0">
            <h1 class="display-4 font-italic">{{ vm.blog.title }}</h1>
            <p class="lead my-3">{{ vm.blog.body }}</p>
            <button type="button" class="btn btn-md btn-outline-secondary"
                    ng-click="vm.likeBlog(vm.blog.id)">
                <strong>{{ vm.blog.likes }}</strong> Likes
            </button>
            <button type="button" style="float: right" class="btn btn-md btn-outline-danger"
                    ng-click="vm.deleteBlog(vm.blog.id)">
                <strong>Delete</strong>
            </button>
            <div style="padding-top: 3%;">Comments
                <ul class="list-group mb-3">
                    <li ng-repeat="comment in vm.blog.comments"
                        class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <small class="text-muted">{{ comment.comment }}</small>
                        </div>
                        <span class="text-muted">
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                    ng-click="vm.likeComment(comment.blogId, comment.id)">
                                {{ comment.likes }} Like
                            </button>
                        </span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <input type="text" class="form-control" ng-model="vm.comment" ng-change="vm.checkComment()">
                        <button type="button" class="btn btn-sm btn-outline-secondary"
                                ng-click="vm.addComment()" ng-disabled="vm.disable">
                            Add Comment
                        </button>
                    </li>
                </ul>
            </div>
            <div>
                <button type="button" class="btn btn-md btn-outline-primary"
                        ui-sref="manage">
                    Back
                </button>
            </div>
        </div>
    </div>
</div>